.switch {
  position: relative;
  cursor: pointer;
}

.switch--disabled {
  cursor: not-allowed;
}

.switch--small {
  width: 28px;
  height: 16px;
}

.switch--large {
  width: 44px;
  height: 22px;
}

.switch__rectangle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  transition: background 0.3s ease;
}

.switch--on .switch__rectangle {
  background: #068A8C;
}

.switch--off .switch__rectangle {
  background: #009EA1;
}

.switch--on.switch--disabled .switch__rectangle,
.switch--off.switch--disabled .switch__rectangle {
  background: #E2E2E2;
}

.switch__ellipse {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #FDFDFD;
  border-radius: 50%;
  transition: left 0.3s ease;
}

.switch--small .switch__ellipse {
  width: 12px;
  height: 12px;
}

.switch--small.switch--on .switch__ellipse {
  left: calc(100% - 14px);
}

.switch--small.switch--off .switch__ellipse {
  left: 2px;
}

.switch--large .switch__ellipse {
  width: 20px;
  height: 20px;
}

.switch--large.switch--on .switch__ellipse {
  left: calc(100% - 24px);
}

.switch--large.switch--off .switch__ellipse {
  left: 4px;
}

.switch--on.switch--disabled .switch__ellipse,
.switch--off.switch--disabled .switch__ellipse {
  background: #7B808C;
}