.checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .checkbox__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkbox__box {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1.9px solid #061533;
    border-radius: 4px;
    box-sizing: border-box;
    background: transparent;
    transition: background-color 0.3s, border-color 0.3s, filter 0.3s;
  }
  
  .checkbox:hover .checkbox__box {
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25)) drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.25));
  }
  
  .checkbox--checked .checkbox__box {
    background: #068A8C;
    border-color: #061533;
  }
  
  .checkbox--checked .checkbox__box::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid #061533;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    top: 2px;
    left: 6px;
  }
  
  .checkbox--disabled {
    cursor: not-allowed;
  }
  .checkbox--disabled:hover .checkbox__box {
    filter: none;
  }
  
  .checkbox--disabled .checkbox__box {
    background: #E2E2E2;
    border: 1.9px solid #7B808C;
    filter: none;
  }
  
  .checkbox--disabled.checkbox--checked .checkbox__box::after {
    border-color: #7B808C;
  }