.custom-button {
    width: 160px;
    height: 38px;
    background: #00b5b8ff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    gap: 10px;
    cursor: pointer;
    border: none;
  }
  
  .icon-wrapper {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }
  
  .icon-add {
    background-image: url('./icons/add-azul.svg');
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
  }
  
  .button-text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.005em;
    color: #061533;
  }
  
  .custom-button:hover {
    background: #56CCCE;
  }
  
  .custom-button:hover .button-text {
    color: #225569;
  }
  
  .custom-button:hover .icon-add {
    background-image: url('./icons/add-gris-hover.svg');
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
  }
  
  .custom-button:active {
    background: #058c8e;
  }
  
  .custom-button:disabled  {
    background: #E3E3E3;
    color: #737885;
    cursor: not-allowed;
  }
  
  .custom-button:disabled .button-text {
    color: #737885;
  }
  
  .custom-button:disabled .icon-add {
    background-image: url('./icons/add-disable.svg');
  }