.button {
    background: #00b5b8ff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    gap: 10px;
    cursor: pointer;
    border: none;
  }

  .button__size--large {
    width: 167px;
    height: 46.63px;
  }

  .button__size--medium {
    width: 150px;
    height: 39.38px;
  }

  .button__size--small {
    width: 151px;
    height: 33.16px;
  }
  
  .button__icon-wrapper {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
  }
  
  .button__icon--add {
    background-image: url('./icons/add-azul.svg');
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
  }
  
  .button__text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.005em;
    color: #061533;
  }
  
  .button:hover {
    background: #56CCCE;
  }
  
  .button:hover .button__text {
    color: #225569;
  }
  
  .button:hover .button__icon--add {
    background-image: url('./icons/add-gris-hover.svg');

  }
  
  .button:active {
    background: #058c8e;
  }
  
  .button:disabled  {
    background: #E3E3E3;
    color: #737885;
    cursor: not-allowed;
  }
  
  .button:disabled .button__text {
    color: #737885;
  }
  
  .button:disabled .button__icon--add {
    background-image: url('./icons/add-disable.svg');
  }