.button {
  background: #00b5b8ff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  gap: 10px;
  cursor: pointer;
  border: none;
}

.button--no-icon {
  justify-content: center;
}

.button__size--large {
  width: 167px;
  height: 46.63px;
}

.button__size--medium {
  width: 150px;
  height: 39.38px;
}

.button__size--small {
  width: 151px;
  height: 33.16px;
}

.button__icon-wrapper {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}

.button__icon {
  background-size: cover;
  background-position: center;
}

.button__icon--add {
  background-image: url('./icon-button/add-azul.svg');
  background-size: cover;
  background-position: center;
  width: 24px;
  height: 24px;
}

.button__text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.005em;
  color: #061533;
}

.button:hover {
  background: #56CCCE;
}

.button:hover .button__text {
  color: #225569;
}

.button:hover .button__icon--add {
  background-image: url('./icon-button/add-gris-hover.svg');
}

.button:active {
  background: #058c8e;
}

.button:disabled {
  background: #E3E3E3;
  color: #737885;
  cursor: not-allowed;
}

.button:disabled .button__text {
  color: #737885;
}

.button:disabled .button__icon--add {
  background-image: url('./icon-button/add-disable.svg');
}

.button--secondary {
  border: 1px solid #00b6b8;
  background-color: transparent;
  box-sizing: border-box
}

.button--secondary .button__text {
  color: #00B6B8;
}

.button--secondary:hover {
  border: 1px solid #56CCCE;
  background-color: transparent;
}

.button--secondary:hover .button__text {
  color: #56CCCE;
}

.button--secondary:active {
  background-color: #058C8E;
}

.button--secondary:active .button__text {
  color: #061533;
}

.button--secondary:disabled {
  border: 1px solid #E3E3E3;
  background-color: transparent;
}

.button--secondary:disabled .button__text {
  color: #7B808C;
}

.button--terciary {
  background: none;
  border: none !important;
  padding: 0 !important;
  cursor: pointer;
  width: auto;
  height: auto;
}

.button--terciary .button__text {
  color: #00B6B8;
}

.button--terciary:hover .button__text {
  color: #56CCCE;
}

.button--terciary:active .button__text {
  color: #058C8E;
}

.button--terciary:disabled .button__text {
  color: #7B808C;
}