/* Bloque principal: group */
.group {
  display: flex;
  flex-direction: column; /* Apila los radio buttons verticalmente */
  gap: 10px; /* Espacio entre cada radio button */
}

/* Elemento: contenedor del radio button */
.group__container {
  display: flex;
  align-items: center; /* Alinea el texto al costado del radio button */
  justify-content: flex-start; /* Asegura que los elementos se alineen a la izquierda */
  margin-bottom: 10px;
}

/* Elemento: input del radio */
.group__input {
  position: absolute;
  opacity: 0; /* Oculta el radio input real */
  z-index: 2; /* Mantiene el radio en la parte superior */
}

/* Elemento: label del radio */
.group__label {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Hace que sea redondo */
  border: 3px solid #061533;
  position: relative;
  transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modificador: hover sobre el label */
.group__label:hover {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25))
    drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.25)); /* Agrega la sombra */
}

/* Modificador: seleccionado */
.group__label--checked {
  background-color: #f0f0f0; /* Fondo más claro cuando está seleccionado */
}

/* Elemento: círculo interior cuando está seleccionado */
.group__label--checked::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: #068A8C;
  border-radius: 50%;
}

/* Elemento: texto asociado al radio button */
.group__text {
  margin-left: 10px; /* Espacio entre el radio button y el texto */
  font-size: 16px;
  font-weight: 600;
  color: #061533; /* Color del texto */
}

/* Modificador: deshabilitado */
.group__label--disabled {
  background: #e2e2e2; /* Fondo gris */
  border: 1.5px solid #7b808c; /* Borde gris */
  cursor: not-allowed; /* Cambia el cursor */
}

/* Deshabilitar hover en estado deshabilitado */
.group__label--disabled:hover {
  filter: none;
  background-color: #e2e2e2;
}

/* Deshabilitar el círculo interior */
.group__input--disabled + .group__label {
  background-color: #e2e2e2;
  border: 1.5px solid #7b808c;
  cursor: not-allowed;
}

.group__input--disabled--checked + .group__label::before {
  background-color: #b0b0b0;
}
