body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #052a44;
}

.navbar {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  color: #061533;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar #byma-logo img {
  width: 160px;
}

.prueba {
  margin: 0 80px 80px 80px;
  background: #f8f8f8;
  border-radius: 20px;
  padding: 0 20px;
}