/* Bloque base */
.input-textarea {
    position: relative;
    height: 120px;
    box-sizing: border-box;
    border: 0.75px solid #061533;
    border-radius: 12px;
    padding: 8px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    resize: none;
    outline: none;

    &--l {
      width: 568px;
    }
    &--m {
      width: 420px;
    }
    &--s {
      width: 272px;
    }
  }